@import '../Atoms/Color.scss';


  
  .label-cbx {
    user-select: none;
    cursor: pointer;
    vertical-align: sub;
    margin-bottom: 0; }
    .label-cbx input:checked + .checkbox {
      border-color: $sexy-pink; }
      .label-cbx input:checked + .checkbox svg path {
        fill: $sexy-pink; }
      .label-cbx input:checked + .checkbox svg polyline {
        stroke-dashoffset: 0; }
    .label-cbx:hover .checkbox svg path {
      stroke-dashoffset: 0; }
    .label-cbx .checkbox {
      position: relative;
      top: 2px;
      float: left;
      margin-right: 8px;
      width: 20px;
      height: 20px;
      border: 2px solid $gray20;
      border-radius: 3px; }
      .label-cbx .checkbox svg {
        position: absolute;
        top: -2px;
        left: -2px; }
        .label-cbx .checkbox svg path {
          fill: none;
          stroke: $sexy-pink;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 71px;
          stroke-dashoffset: 71px;
          transition: all .6s ease; }
        .label-cbx .checkbox svg polyline {
          fill: none;
          stroke: $gray0;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 18px;
          stroke-dashoffset: 18px;
          transition: all .3s ease; }
    .label-cbx > span {
      pointer-events: none;
      vertical-align: middle; }
  

  .invisible {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0; }
  



// body {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	height: 10vh;
// }

// input#check {
// 	position: absolute;
// 	opacity: 0;
	
// 	&:checked + label svg path {
// 		stroke-dashoffset: 0;
// 	}
	
// 	&:focus + label {
// 		transform: scale(1.03);
// 	}
// }

// #check + label {
// 	display: block;
// 	border: 2px solid $sexy-pink;
// 	width: 30px; height: 30px;
// 	border-radius: 4px;
// 	cursor: pointer;
// 	transition: all .2s ease;
	
// 	&:active {
// 		transform: scale(1.05);
// 		border-radius: 8px;
// 	}
	
// 	svg {
// 		pointer-events: none;
// 		path {			
// 			fill: none;			
// 			stroke: $sexy-pink;
// 			stroke-width: 4px;
// 			stroke-linecap: round;
// 			stroke-linejoin: round;
// 			stroke-dasharray: 100;
// 			stroke-dashoffset: 101;
// 			transition: all 350ms cubic-bezier(1,0,.37,.91);
// 		}
// 	}
// }
