@import'../Atoms//Typography.scss';


$sexy-pink:#d1036f;
$jam-pink:#B80564;
$wish-blue:#1C5BC2;
$title-color : #000;
$Description-color : #666666;
$salam:red;
$wihs_blue:#1C5BC2;

/* Light theme */
// $bg-primary-light:#fff;
// $bg-secondary-light:#fbfbfb;
// $bg-tertiary-light:#F3F2F3;
// $bg-quaternary-light:#F6F5F5;
// $bg-quinary-light:#F8F8F8;

$gray0:#fff;
$gray5:#fbfbfb;
$gray10:#f8f8f8;
$gray15:#f6f5f5;
$gray20:#f3f2f3;
$gray40:#666666;
$gray50:#3e3e3e;
$gray60:#0b0b11;
$gray70:#07060e;
$gray80:#03010a;
$gray90:#04020b;
$gray100:#000000;


/* Dark theme */
// $bg-primary-dark:#03010A;
// $bg-secondary-dark:#07060E;
// $bg-tertiary-dark:#04020B;
// $bg-quaternary-dark:#000;
// $bg-quinary-dark:#0B0B11;
// $zapas:#080A11;


.content{
    text-align:center;
    justify-content: center;
}

.Color-box{
    width:200px;
    height:30px;
    margin:20px auto;
    border: 1px solid $gray10;
    ::after{
        content:'';
        border-bottom: 1px solid $gray80;
        width:100px;
        position: relative;
    }
}

.Color-white{
    background-color:$gray0;
}
.Color-black{
    background-color:$gray80;
}
.Color-pink{
    background-color:$sexy-pink;
}
.Color-blue{
    background-color:$wish-blue;
}

.Color-name , .Color-value{
    margin-top: 28px;
    vertical-align: middle;
}

.Color-gray0{
    background-color:$gray0;
}
.Color-gray5{
    background-color:$gray5;
}
.Color-gray10{
    background-color:$gray10;
}
.Color-gray15{
    background-color:$gray15;
}
.Color-gray20{
    background-color:$gray20;
}
.Color-gray40{
    background-color:$gray40;
}
.Color-gray50{
    background-color:$gray50;
}
.Color-gray60{
    background-color:$gray60;
}
.Color-gray70{
    background-color:$gray70;
}
.Color-gray80{
    background-color:$gray80;
}
.Color-gray90{
    background-color:$gray90;
}
.Color-gray100{
    background-color:$gray100;
}

