@import '../Atoms/Color.scss';
@import '../Atoms/Typography.scss';


ul,
ol,
li {
	list-style: none;
}

.Wishfooter-container{
    position: relative;
    margin-right: 0;
    width: 100%;
    
    &__content{
        width:100%;
        position: relative;
        display: grid;
        margin:0 auto;
        &--cols{
            display:inline-grid;
            position: relative;     
        }

    }

}


.Wishfooter-logo{
  float: left;
  width:20%;
  &-mode{
      height:5rem;
      width:15rem;
      background-repeat: no-repeat;
  }
}

.Wishfooter-topsoftwares{
    width:10rem;
    height:10rem;
    display:flex;
    background-repeat: no-repeat;
    margin-top: 1.9rem;
}


.Wishfooter-container__contetn--items{
    position: relative;
    float: right;
    display:inline-flex;
    &--col1,&--col2,&--col3{
        padding-right: 5rem;
    }
}

.Footer-col__title{
    padding-bottom: 1.4rems;
    font-weight: 600;
}

.Footer-col__items{
    line-height:2.6rem;
    text-decoration: none;
    &:hover{
        color: $wish-blue;
        cursor: pointer;
    }
}

.horizontal-line{
    width:100%;
    justify-content: center;
    position: relative;
    padding-top: 7rem;
    margin:0 auto;
    border-bottom: 1px solid #515151;
}


.Wishfooter-container__Socialmedia{
    width:100%;
    position: relative;
    padding:2rem 0;
    padding-bottom: 0.4rem;
    margin:0 auto;
    vertical-align: middle;
    align-items:center;
    display:inline-flex;
    &--icons{
        position: relative;
        float: right;
        justify-content: flex-end;
        align-items: baseline;
        width:70%;
        display: inline-flex;
    }
    &--q1{
        width:30%;
    }

}

.Changin-mode{
    padding:0 1.8rem;

    &-btn{
        width:40px;
    }
}


.Email-address{
    width:26px;
    cursor: pointer;
    
}

.Linkedin-address , .Instagram-address , .Twitter-address{
    padding-left: 1.9rem;
    cursor: pointer;
}
.copy-right{
    font-weight: 400;
}

.Footer-qoute{
    font-size: 12px;
    padding-bottom: 1.2rem;
    color:$wish-blue;
}




/* Responsive */

@media(max-width:768px){

  
    .Wishfooter-container__contetn--items{
        padding-top: 2.6rem;
    }

    .Wishfooter-logo{
        width:35%;
    }
}
  
@media(max-width:600px){

    .Wishfooter-container__contetn--cols{
        display:contents;
        justify-content:center;
        text-align: center;
    }
    .Wishfooter-container__contetn--items{
        &--col1,&--col2,&--col3{
            padding-right: 0px;
        }
    }
    .Wishfooter-logo{
        width:100%;
        padding-top: 20px;
       
    }

    .Wishfooter-topsoftwares{
        width:150px;
        height:150px;
        display:flex;
        background-repeat: no-repeat;
        margin:0 auto;
        position: relative;
        top:40px;
    }


    .Wishfooter-container__contetn--items{
        display:grid;
    }
    .Footer-col__title{
        padding-top: 40px;
        padding-bottom: 20px;
        padding-right: 0;
          
        
    }
  
    .Wishfooter-container__Socialmedia{
        display:grid;
        justify-content:center;
    }

    .Wishfooter-container__Socialmedia--icons{
        width: 100%;
        float:none;
        justify-content:center;
        padding-bottom: 14px;
    }
    .Socialmedia-container{
        width: 100%;
        padding-bottom: 40px;
    }
    .Wishfooter-container__Socialmedia--q1{
        width: 100%;
        padding-bottom: 30px;
    }

    .Footer-qoute{
        text-align: center;
    }

  
}
  



